{% include "layout.html" %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Здесь можно сменить пароль
        </div>
        <div class="card-body">
            {% if msg %}
                {% if msg == "Пароль успешно изменен" %}
                  <div class="alert alert-success" role="alert">{{ msg }}</div>
                {% else %}
                  <div class="alert alert-danger" role="alert">{{ msg }}</div>
                {% endif %}
            {% endif %}
            <form method="POST", action="/users/edit-password">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Логин</label>
                    <input type="text" class="form-control" name="username" required>
                   </div>
                </div>
                <div class="form-group">
                  <label>Старый пароль</label>
                  <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    <label>Новый пароль</label>
                    <input type="password" class="form-control" name="password_new" required>
                </div>
                <button type="submit" class="btn btn-primary">Сменить пароль</button>
        </div>
    </div>